@charset "UTF-8";

/* Mobile First */

@media (max-width: 768px) {

    .titulo-carta {
        font-size: 28px;
    }

    .card-carta {
        padding: 20px;
    }

    .imagens-casal {
        gap: 10px;
    }

    /* mantém proporção no mobile também */
    .imagens-casal img {
        aspect-ratio: 3 / 4;
    }

    .texto-principal,
    .caixa-destaque {
        font-size: 14px;
    }

    .secao-amor {
        padding: 60px 20px;
    }

    .card-amor {
        padding: 25px;
    }

    .texto-amor {
        font-size: 15px;
    }

    .imagens-amor {
        gap: 15px;
    }

}