@charset "UTF-8";

/* Mobile First */

@media (max-width: 768px) {

    .titulo-carta {
        font-size: 28px;
    }

    .card-carta {
        padding: 20px;
    }

    .imagens-casal {
        gap: 10px;
    }

    /* mantém proporção no mobile também */
    .imagens-casal img {
        aspect-ratio: 3 / 4;
    }

    .texto-principal,
    .caixa-destaque {
        font-size: 14px;
    }

    .secao-amor {
        padding: 60px 20px;
    }

    .card-amor {
        padding: 25px;
    }

    .texto-amor {
        font-size: 15px;
    }

    .imagens-amor {
        gap: 15px;
    }

    .secao-pedido {
    padding: 60px 20px;
    }

    .card-pedido {
        padding: 25px;
    }

    .card-extra {
        padding: 25px;
    }

    .imagens-pedido {
        gap: 15px;
    }

    .texto-pedido {
        font-size: 15px;
    }

    .card-extra p {
        font-size: 14px;
    }

    @media (max-width: 768px) {

    .secao-musica {
        padding: 70px 20px;
    }

    .card-musica {
        padding: 40px 25px;
    }

    .letra-musica {
        font-size: 18px;
    }

    .creditos-musica {
        font-size: 14px;
    }

    .secao-playlist {
    padding: 70px 20px;
    }

    .card-playlist {
        padding: 40px 25px;
    }

    .texto-playlist {
        font-size: 16px;
    }

    .link-playlist {
        font-size: 14px;
        padding: 12px 20px;
    }

    .footer-amor p {
    font-size: 18px;
    }
}